%h2 Add a Recipient
= form_for @recipient do |f|
  .form-item
    = f.label :name
    = f.text_field :name
  .form-item.is-buttons
    = f.submit class: 'button'


%h2 Your Recipients

%table
  %thead
    %tr
      %td Name
      %td Action
  %tbody
    = render @recipients

%h2 Your Payments
%table
  %thead
    %tr
      %td Amount
      %td Recipent
      %td Currency
      %td Status
  %tbody
    = render @payments
