%h2 Send Money to #{@recipient.name}

= form_for [@recipient, @payment], url: recipient_payments_path(@recipient.id) do |f|
  .form-item
    = f.label :amount
    = f.number_field :amount, step: 0.01
  .form-item
    = f.label :currency
    = f.select :currency, options_from_collection_for_select(Money::Currency.all, :iso_code, :name)
  .form-item.is-buttons
    = f.submit 'Pay!', class: 'button'
