!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1"}/
    %title Fakebook
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    .page
      %header.header
        .is-navbar-container
          %nav.is-navbar
            %ul
              %li.is-brand
                = link_to 'Fakebook Payment', root_path, class: 'is-logo'

              %li= link_to 'Logout', destroy_user_session_path, method: :delete
      %main.main
        .is-row
          .is-col
          .is-col
            - if alert
              .alert.is-error
                = alert
            - if notice
              .alert.is-success
                = notice
            = yield
          .is-col
      %footer.footer
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
